<div class="wrapper">
  <div class="child-item">
    <img class="img-login" src="public/login/ilustracao-login.svg" alt="..." />
  </div>

  <div class="child-item form-login border">
    <form onsubmit="checkLogin(this);return false;">
      <img
        src="public/logo.svg"
        class="logo-login"
        alt="Fellowship"
      />
      <div>
        <input
          class="border form-control"
          type="email"
          id="floatingInput"
          placeholder="Email"
          name="email"
        />
      </div>
      <div>
        <input
          class="border form-control"
          type="password"
          id="floatingPassword"
          placeholder="Senha"
          name="password"
        />
      </div>
      <button type="submit" class="btn">Entrar</button>
    </form>
    <hr class="aparador-login" />

    <div class="call-login">
      <p>Ainda não tem conta?</p>
      <h4 onclick="modalCadastro()">Cadastre-se</h4>
    </div>

    <!--Cadastro-->
    <div class="modal-cadastro" id="modalCadastro">
      <div class="modal-form-cadastro">
        <form
          class="form-cadastro border"
          onsubmit="register(this); return false;"
        >
          <span class="close-modal" onclick="fecharModalCadastro()"
            >&times;</span
          >
          <div>
            <img
              src="public/logo.svg"
              class="logo-cadastro"
              alt="Fellowship"
            />
          </div>
          <div>
            <input
              class="border"
              type="text"
              id="nomeInput"
              placeholder="Nome Completo"
              name="name"
            />
          </div>
          <div>
            <input
              class="border"
              type="email"
              id="emailInput"
              placeholder="Email"
              name="email"
            />
          </div>
          <div>
            <input
              class="border"
              type="password"
              id="passwordInput"
              placeholder="Senha"
              name="password"
            />
          </div>
          <div>
            <input
              class="border"
              type="date"
              id="dataDeNascimentoInput"
              placeholder="dd/mm/yyyy"
              name="birthday"
            />
          </div>
          <div>
            <input
              class="border"
              type="text"
              id="cepInput"
              placeholder="Cep"
              name="postalCode"
            />
          </div>
          <div>
            <input
              class="border"
              type="text"
              id="bairroInput"
              placeholder="Bairro"
              name="neighborhood"
            />
          </div>
          <button type="submit" class="btn-cadastro">Cadastre-se</button>
        </form>
      </div>
    </div>
  </div>
</div>
