<section class="container menu_nav_container ">
    <nav class="menu_nav border">
        <ul class="menu_nav_ul" id="menu-nav-ul">
            <li>
                <a class="active_menu_nav" onclick="loadFeed(this)" data-tipo="generico">Noticias
                    <div class="aparador_menu_nav"></div>
                </a>

            </li>
            <li>
                <a onclick="loadFeed(this)" data-tipo="generico">Estabelecimentos
                    <div></div>
                </a>

            </li>
            <li>
                <a onclick="loadFeed(this)" data-tipo="generico">Segurança
                    <div></div>
                </a>

            </li>
            <li>
                <a onclick="loadFeed(this)" data-tipo="casa">Casas
                    <div></div>
                </a>

            </li>
            <li>
                <a onclick="loadFeed(this)" data-tipo="generico">Eventos
                    <div></div>
                </a>

            </li>
            <li>
                <a onclick="loadFeed(this)" data-tipo="doacoes">Doações
                    <div></div>
                </a>

            </li>
            <li>
                <a onclick="loadFeed(this)" data-tipo="generico">Desaparecidos
                    <div></div>
                </a>

            </li>
        </ul>
    </nav>
</section>