<section class="container menu_nav_container ">
    <nav class="menu_nav border">
        <ul class="menu_nav_ul" id="menu-nav-ul">
            <li>
                <a class="active_menu_nav" onclick="loadFeed(this)" data-tipo="generico" data-name="noticias">Noticias
                    <div class="aparador_menu_nav"></div>
                </a>

            </li>
            <li>
                <a onclick="loadFeed(this)" data-tipo="generico" data-name="estabelecimentos">Estabelecimentos
                    <div></div>
                </a>

            </li>
            <li>
                <a onclick="loadFeed(this)" data-tipo="generico" data-name="seguranca">Segurança
                    <div></div>
                </a>

            </li>
            <li>
                <a onclick="loadFeed(this)" data-tipo="casa" data-name="imoveis">Imóveis
                    <div></div>
                </a>

            </li>
            <li>
                <a onclick="loadFeed(this)" data-tipo="generico" data-name="eventos">Eventos
                    <div></div>
                </a>

            </li>
            <li>
                <a onclick="loadFeed(this)" data-tipo="doacoes" data-name="doacoes">Doações
                    <div></div>
                </a>

            </li>
            <li>
                <a onclick="loadFeed(this)" data-tipo="generico" data-name="desaparecidos">Desaparecidos
                    <div></div>
                </a>

            </li>
        </ul>
    </nav>
</section>