.menu_nav_container {
    margin-top:120px!important;
}

.menu_nav {
    margin-bottom: 1rem;
    background-color: #fff!important;
}

.menu_nav ul {
    display: flex;
    padding-inline-start: 2%;
    margin-top:28px;
    margin-right: 5px;
}

.menu_nav ul li {
    margin-right: 1.3rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.04em;
    color: #6e6d7a;
    height:1.6rem;
}

.active_menu_nav {
    text-decoration: none;
    color: #4285f4;
    font-weight: bold;
}

.menu_nav ul :focus{
    transition: color 200ms ease;
}

.menu_nav ul :hover{
    color: #4285f4;
    transition: color 400ms ease;
    background-color: rgb(66 133 244 / 1%);
}

.aparador_menu_nav{
    background-color: #4285f4;
    height:3px;
    right:2px;
    left:2px;
    margin-top: 1.6rem;
    cursor: none;
}

.menu_nav{
    background: #FEFEFE;
    border-radius: 4px;
    margin-top: 2rem;
}


/*mobile*/
@media only screen and (min-width: 320px) and (max-width: 480px) {

    .menu_nav ul {
        flex-flow:wrap;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }

    .menu_nav ul li {
        height:0.1rem;
        font-size: 0.8rem;
        margin-bottom:8%;
    }

    .aparador_menu_nav{
        display:none;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {

    .menu_nav ul {
        flex-flow:wrap;
        justify-content: center;
        align-items: center;
        margin-inline-start: 0.3rem;

    }

    .menu_nav ul li {
        font-size: 0.8rem;
        margin-bottom:10px;

    }
    .aparador_menu_nav{
        display:none;
    }
}