.settings {
    display: flex;
    width:820px!important;
    height:820px;
    margin: 120px auto;
    background-color: rgb(66 133 244 / 10%);
    box-shadow: 0 10px 70px rgb(0 0 0 / 5%)!important;
}

/*conteiner-menu*/
.menu-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 26%;
    background-color: #fff;
}

/*img usuario*/
.menu-settings img {
    height: 4rem;
    width: 4rem;
    border-radius: 60px;
    margin-top: 50px;
    border: 1px solid transparent;
}

/*nome usuario*/
.menu-settings-nome-usuario {
    color: #53525d;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 20%;
    margin-top: 14px;
}

/*topicos do menu*/
.menu-settings-titulo {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
}

.menu-settings-titulo:hover{
    background:#E8F0FE;
}
.menu-settings-titulo-ativo{
    background:#E8F0FE;
}

.menu-settings-titulo img{
    margin: 0;
    border-radius:0;
    width: 22px;
    margin-inline-start:62px;
}
.menu-settings-titulo svg {
    width:8px;
    fill:none;
    margin-top:3px;
    padding:10px;
}

.menu-settings h5 {
    color: #53525d;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0.05em;
    cursor: pointer;
}
.menu-settings-geral {
    padding: 10px;
}

#settings-seguranca{
    display: none;
}

.header-settings {
    display: block;
    height: 132px;
    width: 707px;
    margin-left: 213px;
    position: absolute;
}

/*backgraund ilustracao*/
.ilustracao-settings {
    display: flex;
    justify-content: center;
    background: #fff;
    height: 115px;
    width:607px;
}

.ilustracao-settings img {
    height: 150%;
    margin-top: 30px;
}

/*conteiner*/
.editar-settings {
    display: flex;
    background-color: #fff;
    width: 54%;
    align-self: center;
    justify-content: center;
    height: 50%;
    border-top-left-radius: 40px;
    margin-top: 130px;
    margin-left: 89px;
    box-shadow: 0 10px 70px rgb(0 0 0 / 10%);
}

/*campos editar*/
.campos-settings {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    padding: 30px;
}
.campos-settings-child{
    display: flex;
    align-items: baseline;
}
.campos-settings h4 {
    color: #53525d;
    font-size: 18px;
    letter-spacing: 0.05em;
    margin-left: 22px;
    margin-bottom: 40px;
}
.campos-settings label {
    display: flex;
    width: auto;
    margin-left: 18px;
    margin-top: -5px;
    padding: 0 6px;
    position: absolute;
    font-size: 10px;
    letter-spacing: 0.03em;
    font-weight: normal;
    color: #7e7e7e;
    background-color: white;
}

.campos-settings input {
    font-family: Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    height: 28px;
    width: 276px;
    border-radius: 6px;
    margin-left: 10px;
    margin-bottom: 30px;
    padding: 5px;
    background: white;
    transition: 400ms ease;
}

.campos-settings input:focus {
    background-color: white;
    outline: none;
    border: 1px solid var(--blue);
    box-shadow: 0 0 0 4px rgb(66 133 244 / 10%);
    padding-right: 30px;
    margin-top: 12px;
    transition: 400ms ease;
}

::placeholder {
    font-size: 12px;
    color: #393939;}

/*input desabilitado*/
#bairro-input-settings{
    background: #e9e9e9;
    cursor: not-allowed;
}
#bairro-input-settings:hover{
    border: 1px solid #e9e9e9;
    box-shadow:none;
}
/*btn editar*/
.campos-settings span {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.03em;
    color: var(--blue);
    margin-left: 10px;
    cursor: pointer;
}

.campos-settings span:hover {
    color: var(--light-blue);
}