.profile{
    background-color:#fff;
    margin-top: 120px!important;
}

.profile-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 45px ;
    margin-bottom: 20px;
}

.img-user {
    max-height: 3rem;
    border-radius: 30px;
    margin-left: 35px;
}

.header-profile .profile-name {
    margin-left: 10px;
}

.btn-edit {
    width: 40%;
    height: 35px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    color: #53525d;
    border:none;
    margin-inline-start: 12.2rem;
    background-color: #fff;
    border-radius: 4px;
    letter-spacing: 0.03rem;
}

.btn-edit:hover {
    color: #53525d;
    transition:  200ms ease;
    border: 1px solid #cececf;
}

.header-profile-bottom ul {
    display: table;
    border-spacing: 10px;
    border-collapse: separate;
    margin-top: 30px;
    margin-bottom: 30px;
}

.header-profile-bottom ul li {
    vertical-align: middle;
    display: table-row;
}

.header-profile-bottom ul li span {
    margin-inline-start: 1rem;
    display: table-cell;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 24px;
    color: #3a3a3a;
}

.header-profile-bottom ul li img {
    margin-inline-end: 0.5rem;
}

/* Terceira section do profile */
.header-profile-about-title {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    color: #b5b5b5;
    margin-left: 35px ;
}
.header-profile-about-conteudo {
    font-size: 14px;
    color: #62616d;
    width: 93%;
    margin-left: 35px;
    line-height: 150%;
    letter-spacing: 0.03em;
    word-break:keep-all;
    margin-bottom: 5rem;
}

/*Mobile*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .header-profile .profile-name {
        font-weight: 600;
        font-size: 12px;
    }
}

/*tablet*/
@media only screen and (min-width: 481px) and (max-width: 768px){

    .header-profile .profile-name {
        font-weight: 600;
        font-size: 12px;
    }
    .btn-edit{
        width: 98%;
        height: 35px;
        font-size: 12px;
        margin-inline-start: 2rem;
    }
    .header-profile-bottom ul li span{
        font-size:12px;
    }
}
