<section id="profile" class="container border profile">
    <div class="profile-section">
        <div class="header-profile">
            <label for="change-photo-profile">
            <img class="img-user" src="public/profile/foto-usuario-perfil.svg" title="Alterar foto do perfil"  id="foto-perfil"/>
            </label>
            <input id="change-photo-profile" type="file" onchange="changePhotoProfile(this)">
        </div>
        <div class="header-profile">
            <h3 class="profile-name" id="profile-name"></h3>
        </div>
        <div class="header-profile">
            <button class="btn-edit" id="edit-profile" onclick="editarPerfil(this)">Editar Perfil</button>
            <button class="btn-salvar" id="perfil-btn-salvar" onclick="salvandoDadosPerfil(this)">Salvar</button>
        </div>

    </div>
    <hr class="dropdown-divider aparador"/>
    <div class="profile-section-bottom">
        <div class="header-profile-bottom">
            <ul>
                <li>
                    <img src="public/profile/perfil-trabalho.svg"/>
                    <span contenteditable="false" id="perfil-trabalho"></span>
                </li>
                <li>
                    <img src="public/profile/perfil-local.svg"/>
                    <span contenteditable="false" id="perfil-local"></span
                    >
                </li>
                <li>
                    <img src="public/profile/perfil-relacionamento.svg"/>
                    <span contenteditable="false" id="perfil-relacionamento"></span>
                </li>
                <li>
                    <img src="public/profile/perfil-birthday.svg"/>
                    <span contenteditable="false" id="perfil-dataNasc"></span
                    >
                </li>
                <li>
                    <img src="public/profile/perfil-mobile.svg" class="perfil-mobile-img"/>
                    <span contenteditable="false" id="perfil-mobile"></span
                    >
                </li>
                <li>
                    <img src="public/profile/perfil-hobbies.svg"/>
                    <span contenteditable="false" id="perfil-hobbies"></span
                    >
                </li>
            </ul>
        </div>
        <hr class="dropdown-divider aparador"/>
        <div class="profile-section-bottom">
            <div class="header-profile-about-title">
                <span class="about-title" onclick="focusAbout()">Nós conte um pouco mais sobre você...</span>
            </div>
            <div class="header-profile-about-conteudo">
                <blockquote contenteditable="false" id="perfil-about">
                </blockquote>
            </div>
        </div>
    </div>
</section>