<section id="profile" class="container border profile">
    <div class="profile-section">
        <div class="header-profile">
            <img class="img-user" src="public/usuarios/aposentada.png" type="file" id="mudar-foto-perfil"
            />
        </div>
        <div class="header-profile">
            <h3 class="profile-name">Maria Francisca Da Silva Soares</h3>
        </div>
        <div class="header-profile">
            <button class="btn-edit" id="edit-profile" onclick="editarPerfil(this)">Editar Perfil</button>
        </div>
        <button class="btn-salvar" id="perfil-btn-salvar" onclick="salvandoDadosPerfil(this)">Salvar</button>
    </div>
    <hr class="dropdown-divider aparador"/>
    <div class="profile-section-bottom">
        <div class="header-profile-bottom">
            <ul>
                <li>
                    <img src="public/profile/perfil-trabalho.svg"/>
                    <span contenteditable="false" id="perfil-trabalho">Enfermeira</span>
                </li>
                <li>
                    <img src="public/profile/perfil-local.svg"/>
                    <span contenteditable="false" value="Paraná" id="perfil-local"
                    >Paraná</span
                    >
                </li>
                <li>
                    <img src="public/profile/perfil-relacionamento.svg"/>
                    <span contenteditable="false" id="perfil-relacionamento">Casada</span>
                </li>
                <li>
                    <img src="public/profile/perfil-birthday.svg"/>
                    <span contenteditable="false" id="perfil-dataNasc"
                    >20/04/1960 (61 Anos)</span
                    >
                </li>
                <li>
                    <img src="public/profile/perfil-hobbies.svg"/>
                    <span contenteditable="false" id="perfil-hobbies"
                    > andar de bicicleta, ler livros, assistir series</span
                    >
                </li>
                <li>
                    <img src="public/profile/perfil-mobile.svg"/>
                    <span contenteditable="false" value="99365-2332" id="perfil-mobile"
                    >99365-2332</span
                    >
                </li>
            </ul>
        </div>
        <hr class="dropdown-divider aparador"/>
        <div class="profile-section-bottom">
            <div class="header-profile-about-title">
                <span  class="about-title">Nós conte um pouco mais sobre você...</span>
            </div>
            <div class="header-profile-about-conteudo">
      <blockquote contenteditable="false" id="perfil-about">
        It has survived not only five centuries, but also the leap into
        electronic typesetting, remaining essentially unchanged. It was
        popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software
        like Aldus PageMaker including versions of Lorem Ipsum.</blockquote>
            </div>
        </div>
    </div>
</section>